html {
    scroll-behavior: smooth;
}

.head {
    color: red;
}

.paragraph {
    background-color: beige;
}

#pinkheading {
    background-color: pink;
}

span {
    padding: 0px 5px;
    border-top: 2px black solid;
    border-bottom: 4px gray solid;
}

p {
    border: 10px lightgreen ridge;
    margin: 5px;
}
